<main class="bg">
  <div class="carousel-box">
    <div class="carousel-left-button"></div>
    <div class="carousel-middle">
      <div class="carousel-image">
        <img src="../../../assets/john wick.png" alt="john wick photo" />
        <div class=""></div>
      </div>
      <div class="carousel-text-buttons">
        <div class="carousel-title-and-text">
          <h1>John Wick 4</h1>
          <p>
            John Wick 4 comienza con el personaje del título (Keanu Reeves)
            huyendo de nuevo mientras tiene a cientos de asesinos pisándole los
            talones. El villano principal de la serie es el Marqués de Gramont
            (Bill Skarsgård), un líder de la Alta Mesa que sigue aumentando la
            recompensa por la cabeza de Wick mientras también arregla algunos
            asuntos dentro de la organización, incluyendo la posible eliminación
            de Winston Scott (Ian McShane) y algunas de las decisiones que tomó
            en el pasado.
          </p>
        </div>
        <div class="carousel-buttons">
          <button mat-raised-button color="primary">Ver trailer</button>
          <button mat-raised-button color="primary">Comprar ticket</button>
        </div>
      </div>
    </div>
    <div class="carousel-right-button"></div>
  </div>
</main>
