@import '../shared.scss';
header {
  background-color: rgba(28, 28, 28, 0.5);
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    padding: 0 2rem;
    ul {
      display: flex;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        a {
          text-decoration: none;
          color: #fff;
        }
      }

      li.destacadas {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      li.cartelera {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      li.comprar {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        button {
          background-color: $main-color;
        }
      }
    }
  }
  .dream-view-logo:hover {
    cursor: pointer;
  }
}
.menu {
  display: none;
}
.menu.icon {
  margin-right: 0;
}
.mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

@media screen and (max-width: 920px) {
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  header {
    height: 60px;
    img {
      height: 50px;
    }
  }
}
