<header>
  <div class="container">
    <figure>
      <img src="./../../../assets/logo.svg" alt="Logo" />
    </figure>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Destacadas</a></li>
        <li>
          <a routerLink="/cartelera" routerLinkActive="active">Cartelera</a>
        </li>
        <li>
          <a routerLink="/comprar-ticket" routerLinkActive="active"
            >Comprar ticket</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
