<header>
  <div class="container">
    <figure>
      <img src="./../../../assets/logo.svg" alt="Logo" />
    </figure>
    <nav>
      <ul>
        <li class="destacadas">
          <a routerLink="/" routerLinkActive="active">Destacadas</a>
        </li>
        <li class="cartelera">
          <a routerLink="/cartelera" routerLinkActive="active">Cartelera</a>
        </li>
        <li class="comprar">
          <button
            mat-raised-button
            color="primary"
            (click)="goToComprarTickets()"
          >
            Comprar ticket
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
