@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.clickable:hover {
  cursor: pointer;
}

.pop-in-background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}
.mat-mdc-select-arrow svg {
  fill: white !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */
input.mat-input-element {
  color: white;
}

html {
  --mdc-outlined-text-field-outline-color: #554f95;
  --mdc-outlined-text-field-hover-outline-color: #fff;
}
